/*https://thewhiteowl.pythonanywhere.com/site/css/index.htm


/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
div {

    width: 20em;
    border: 5px green solid;
    padding: 5px;
    margin: 5px;
    display: block;
position: fixed;

}

#one {
    border: 5px blue solid;
left: 25%;
bottom:25%;
}

#two {
    border: 5px green solid;
right:25%;
bottom:25%;
}

#three {
    border: 5px orange solid;
left: 25%;
}

#four {
    border: 5px yellow solid;
right:25%;
}

a {
background-color:green;
color:white;
text-decoration: none;
font-weight:bold;
position: fixed;
left: 50%;
}

p {
     display: flex;
     flex-direction: column;
     align-items: center;
}